@page "/property/{Id}/loan/new"
@inherits CreateLoanBase

<EditForm Model="addCreateLoan" OnValidSubmit="Save">
    <DataAnnotationsValidator />

    <div class="flex flex-col gap-1">

        <h1 class="font-bold text-lg">New Property</h1>
        @if (@IsBusy)
        {
            <SfProgressBar Type="ProgressType.Circular" Value="20" Height="60" IsIndeterminate="true" Minimum="0" Maximum="100">
                <ProgressBarAnimation Enable="true"></ProgressBarAnimation>
            </SfProgressBar>
        }
        else
        {
            <div class="flex flex-row gap-5">
                <div class="w-full">
                    <SfTextBox CssClass="!h-11" Placeholder="Lender Name" @bind-Value="@addCreateLoan.LenderName"
                           FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                    <ValidationMessage For="() => addCreateLoan.LenderName" />
                </div>
                <SfNumericTextBox CssClass="!h-11" TValue="int?" @bind-Value="@addCreateLoan.Years" Placeholder="Total Years" FloatLabelType="@FloatLabelType.Auto"></SfNumericTextBox>
            </div>

            <div class="flex flex-row gap-5 items-center">
                <SfDropDownList TValue="PropManagerSite.GraphQL.LoanTypes" TItem="TypeItem" Placeholder="Loan Type" FloatLabelType="@FloatLabelType.Auto" DataSource="@EnumValues" @bind-Value="@addCreateLoan.LoanType">
                    <DropDownListFieldSettings Value="Value" Text="Display"></DropDownListFieldSettings>
                </SfDropDownList>

                <SfNumericTextBox CssClass="!h-11" TValue="decimal" @bind-Value="@addCreateLoan.Amount" Placeholder="Amount" FloatLabelType="@FloatLabelType.Auto" Format="C2"></SfNumericTextBox>
            </div>
            <div class="flex flex-row gap-5">
                <SfNumericTextBox CssClass="!h-11" TValue="decimal?" @bind-Value="@addCreateLoan.Interest" Placeholder="Interes" FloatLabelType="@FloatLabelType.Auto" Format="###.##"></SfNumericTextBox>
                <SfNumericTextBox CssClass="!h-11" TValue="decimal?" Placeholder="LMI" @bind-Value="@addCreateLoan.LMI" FloatLabelType="@FloatLabelType.Auto"></SfNumericTextBox>
            </div>

            <div class="flex flex-row gap-5">

                <SfDatePicker    TValue="DateTimeOffset?" @bind-Value="@addCreateLoan.DateOfLoan" Placeholder="Date of Loan" FloatLabelType="@FloatLabelType.Auto" ShowClearButton="true"></SfDatePicker>

                <div class="flex flex-row justify-end gap-2 h-8 mt-6 w-full">
                    <SfButton @onclick="Cancel" CssClass="e-danger">Cancel</SfButton>
                    <SfButton CssClass="e-primary">Save</SfButton>

                </div>
            </div>
            
        }
    </div>
</EditForm>
<style>
    .e-control-container {
        height: 45px !important
    }
</style>